.background{ -fx-background-image: url("../Images/Background.jpg");
-fx-background-repeat: no-repeat;
-fx-background-size: cover;
}

.button {
    -fx-base: #0080ff; /* blue */
    -fx-text-fill: #FFFFFF; /* white */
}

.rounded-label {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-padding: 10 10 10 50;
}

.clear {
    -fx-base: #000000;
    -fx-background-image: url("../com/example/bookstore/X.png");
    -fx-background-size: cover;
}
